# Windows image file caches
Thumbs.db
ehthumbs.db

obj
bin
*.user
*.suo
*.orig
output
publish-*
packages
_ReSharper.*
_dotCover.*
*.Resharper
*.Cache
*.cache
~$*
[Pp]ublish
*.ide
*nunit.TestResult.*.xml
*.vsp

# Visual Studio build objects
bin/
csx/
obj/
rcf/
.vs/

### Tools
/tools/*
!/tools/dev-helpers
!/tools/packages.config
# add local tools 
!/tools/LibZ.Tool*
!/tools/Invoke-Build*
/stuff/*

# Embed
src/Syrup/Embed/syrup-executor.bin
src/Syrup/Embed/syrup-self.bin

# others
stuff/*
.local/*
build/*
_tmp/*
.tmp/*
_artifacts/*
dev/*

